# ignore everything
*
!.gitignore

# except PKGBUILD needed files
!PKGBUILD
!.SRCINFO
!*.install

# common wing-man files
!*.diff
!*.patch

# add files that don't have an online source
kernel-modules-hook.install
linux-modules-cleanup.conf
linux-modules-cleanup.service
10-linux-modules-post.hook
10-linux-modules-pre.hook
UNLICENSE
