pkgbase = kernel-modules-hook
	pkgdesc = Keeps your system fully functional after a kernel upgrade
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/saber-nyan/kernel-modules-hook
	install = kernel-modules-hook.install
	arch = any
	license = unknown
	depends = rsync
	source = linux-modules-cleanup.conf
	source = linux-modules-cleanup.service
	source = 10-linux-modules-post.hook
	source = 10-linux-modules-pre.hook
	sha256sums = 4169b44c297ddb7aad2220c6eba7c7942e3396f92528c59617955ab5560cb4cf
	sha256sums = 5d947290ef8c94b33c79c531e5615f4c9bea38e7649092d34af3bf0af5b1ca24
	sha256sums = 39a124a4fb5cf3f2cace0bd5bd203a6d5d78aac1eb7dfb7610b91839281ac58b
	sha256sums = 86cedb612d06f618beb0b47a06d78fe1a34e726ceb213dfa6ba498415c1e53b4

pkgname = kernel-modules-hook

