pkgbase = kernel-modules-hook
	pkgdesc = Keeps your system fully functional after a kernel upgrade
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/saber-nyan/kernel-modules-hook
	install = kernel-modules-hook.install
	arch = any
	license = unknown
	depends = rsync
	source = linux-modules-cleanup.conf
	source = linux-modules-cleanup.service
	source = 10-linux-modules-post.hook
	source = 10-linux-modules-pre.hook
	sha256sums = 4169b44c297ddb7aad2220c6eba7c7942e3396f92528c59617955ab5560cb4cf
	sha256sums = 5d947290ef8c94b33c79c531e5615f4c9bea38e7649092d34af3bf0af5b1ca24
	sha256sums = 94eaaeb612e30992bf0197cb785b3ec1b8e09fc6b2ea437bd59bc4f87f828e76
	sha256sums = 81cb83bb2a352e4d3ab32bb12bc4f7ad6624e3f6b63dc176d881c73425792633

pkgname = kernel-modules-hook

